.messageFormError {
  color: red;
  font-size: 0.7rem;   /* tamaño un poco más pequeño que el input */
  margin-top: 4px;     /* espacio sobre el input */
  display: block;      /* para que ocupe su propio renglón */
  font-weight: bold;   /* opcional: más visible */
}


