footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 4rem;
    background-color: #141414;
}

footer > * {
    flex: 1 0 calc((100% / 3 ) - 2rem);
}

footer > * > .headline {
    border-color: #323232;
}

footer > * > .headline > h3{ 
    color: #f4f4f4;
    font-size: 1.2rem;
}

footer > * > ul > li {
    margin-top: 0.6rem;
}

footer > * > ul > li > a > i{
    padding-right: 0.4rem;
}